@model StReviewViewModel
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/student_review.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic:400">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic:400">

    <script src="https://code.jquery.com/jquery-3.2.1.left.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta name="theme-color" content="#9ea400">
    <meta property="og:type" content="website">
  </head>


<body>
@Html.Partial("HeadStudent")
@if (Model != null)
    {
        @if (Model.review != null)
        {
            <article id="mainArticle">
                <section>
                    <div style="display: flex">
                        <h2 style="text-align:center;">Отзыв на курс</h2>
                    </div>
                    @using (Html.BeginForm("Review", "StMyCourse", FormMethod.Post))
                    {
                            <input type="hidden" name="id" value="@Model.review.Id">
                            <input type="hidden" name="course" value="@Model.review.courseId">
                            
                            <textarea name="text" style="width: 80%; margin: 10px 10px 10px 10px; height: 300px;">@Model.review.text</textarea>
                            <div><input type="submit" value="Сохранить" asp-controller="StMyCourse" asp-action="Review" class="u-active-palette-2-base u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-palette-2-light-2 u-radius-5 u-btn-1" style="margin-top: 10px;">
                            </div>
                    }
                </section>
            </article>
        }

    }

  <footer id="pageFooter" class="footer-all u-clearfix">
    <p class="footer-text u-text-variant"> © 2022 Examcy | Образовательная платформа</p>
  </footer>
</body>

</html>

